{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>You are now logged in!</h1>
  <h2><a href="{% url 'groups:all'%}">Go to Vehicles Portal</a></h2>
  <br><br><br>
  <center>
  <H1 style="color:#ff884d; font-family:verdana;font-size:250%;">Welcome to NITW<br>Please enter your vehicle number:</H1>
  </center>
  <center>
  <br><br><br>
  <form method="POST" action="/register/veh/">
    {% csrf_token %}
    <p style="color:#008080; font-family:courier;font-size:160%;">Vehicle No.:
    <input type="text" ="Vehicle No." name="vehno">
  <!-- </form> -->
  </center></p>
  <br><br><br>
  <center>
  <!-- <form> -->
    <p style="color:#008080; font-family:courier;font-size:160%;">Name:
    <input type="text" ="Name" name="blaaa">
  <!-- </form> -->
  </center></p>
  <br><br><br>
  <center>
  <!-- <form> -->
  <input type="submit" value="Submit">
  </form>
  </center>
</div>

{% endblock %}
